@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'Vegan Style';
    font-weight: 400;
    src: url('/static/fonts/veganstyle-webfont.woff') format('woff'), url('/static/fonts/veganstyle-webfont.woff2') format('woff2');
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #434d57;
    color: #bcbcbc;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.title {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 25px;
    width: fit-content;
}

.title:hover {
    cursor: pointer;
}

.title h1 {
    font-family: 'Vegan Style', sans-serif;
    font-size: 40px;
    color: #1fd0b5;
}

.logo {
    aspect-ratio: 1/1;
    height: 5rem;
}

.success {
    --color: green;
}

.error {
    --color: #da1212;
}

.message-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.close-message {
    aspect-ratio: 1/1;
    height: 1.5rem;
}

.message-container:hover {
    cursor: pointer;
}

.flashed-message {
    background: var(--color);
    width: 25rem;
    height: 3rem;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}

.uploader {
    margin: 0 4rem;
}

.hidden {
    display: none;
}

.button {
    width: 14rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 6px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #e8e8e8;
    color: #e8e8e8;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    cursor: pointer;
    background-color: #e8e8e8;
    color: #434d57;
}

.infos-title {
    font-size: 38px;
}

.infos {
    display: flex;
    justify-content: space-between;
}

.dropdown-options {
    /* hidden by default */
    position: absolute;
    width: 12rem;
    display: none;
    background-color: #e8e8e8;
    color: #434d57;
    border-radius: 8px;
    padding: 5px 15px;
    box-shadow: 0.1px 3px 10px 5px rgba(0, 0, 0, 0.3);
}

.dropdown-options p {
    height: 2rem;
    transition: padding-left 0.2s;
}

.dropdown-options p:hover {
    cursor: pointer;
    padding-left: 1rem;
}

.buttons-container {
    position: absolute;
    top: 90%;
    display: flex;
    gap: 3rem;
}

.see-all {
    left: 17%;
}

.folder-generation {
    display: flex;
    margin-top: 2rem;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
}

.folder-generation h2 {
    margin: 0;
    padding: 0;
    font-size: 28px;
}

.folder-name {
    width: 25rem;
    height: 2.5rem;
    padding: 0 10px;
    border-radius: 6px;
    border: none;
    color: #434d57;
}

.top-container {
    margin: 0 0 1rem 4rem;
    display: flex;
    gap: 3rem;
    width: 100%;
}

.go-back {
    background-color: transparent;
    border: none;
    font-size: 50px;
}

.go-back:hover {
    cursor: pointer;
}

/* display items */
.items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0 4rem;
}

.vinted-item {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    background-color: #e8e8e8;
    border-radius: 15px;
    box-shadow: 0.1px 3px 10px 5px rgba(0, 0, 0, 0.3);
    color: #434d57;
    width: 20rem;
    transition: scale 0.3s;
    margin-bottom: 10px;
}

.infos-container {
    display: flex;
    flex-direction: column;
}

.vinted-item:hover {
    cursor: pointer;
    scale: 1.03;
}

.item-brand,
.item-code,
.item-size,
.item-price {
    text-transform: uppercase;
    padding-top: 8px;
}

.vinted-item .button-container {
    display: flex;
    align-items: center;
}

.button-container .action {
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    margin-left: auto;
    width: 2.5rem;
    aspect-ratio: 1/1;
}

.button-container .delete-item {
    background-color: #da1212;
}

.button-container .edit-price {
    background-color: #0dcaf0;
}

.button-container .submit-price {
    background-color: #1abf10;
}

.action:hover {
    cursor: pointer;
}

.item-price:not(.enabled) .value {
    background-color: transparent;
    pointer-events: none;
    border: none;
    width: 30px;
    font-size: 15px;
}

.delete-all {
    position: fixed;
    top: 93%;
    border-radius: 6px;
    color: white;
    background-color: #da1212;
    width: 14rem;
    height: 3rem;
    margin: 0 3rem;
    border: none;
    font-size: 16px;
    transition: opacity 0.2s;
    box-shadow: 0.1px 0 10px 5px rgba(0, 0, 0, 0.3);
}

.delete-all:hover {
    cursor: pointer;
}

/* stats */
.stats {
    margin: 0 4rem;
}

.apply-filters {
    width: 14rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 6px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #0dcaf0;
    transition: background-color 0.2s, color 0.2s;
}

.apply-filters:hover {
    cursor: pointer;
    background-color: #0aadce;
}

/* custom table */
.table {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
    margin-top: 20px;
}

.table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table span {
    width: 100%;
    background-color: #007bff;
    border: 1px solid black;
    color: white;
    padding: 15px;
}

.table .cols-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.table .col {
    border: 1px solid black;
    padding: 0 15px;
    color: black;
    background-color: white;
}