{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<section class="uploader" id="uploader" data-folder-name="{{ folder_name }}">
    <h2 class="infos-title">Infos sur le vêtement</h2>
    <form class="container">
        <div class="infos">
            <div class="dropdown">
                <button type="button" class="button dropdown-button">
                    <span>Type du vêtement</span>
                    <i class='bx bxs-down-arrow'></i>
                </button>
                <div class="dropdown-options" data-refers-to="type">
                    <p>Jean</p>
                    <p>Polo</p>
                    <p>Tee-shirt</p>
                    <p>Chemise</p>
                    <p>Baskets</p>
                    <p>Sous-pull</p>
                    <p>Pyjama</p>
                    <p>Bermuda</p>
                    <p>Jogging</p>
                    <input type="text" class="hidden" name="type" id="type">
                </div>
            </div>

            <div class="dropdown">
                <button type="button" class="button dropdown-button">
                    <span>Marque</span>
                    <i class='bx bxs-down-arrow'></i>
                </button>
                <div class="dropdown-options" data-refers-to="brand">
                    <p>Atlas for Men</p>
                    <p>Kiabi</p>
                    <p>Tissaia</p>
                    <p>Decathlon</p>
                    <p>Puma</p>
                    <p>LH</p>
                    <p>Kaporal</p>
                    <p>Nike</p>
                    <input type="text" class="hidden" name="brand" id="brand">
                </div>
            </div>

            <div class="dropdown">
                <button type="button" class="button dropdown-button">
                    <span>Taille</span>
                    <i class='bx bxs-down-arrow'></i>
                </button>
                <div class="dropdown-options" data-refers-to="size">
                    <p>L</p>
                    <p>M</p>
                    <p>S</p>
                    <p>42</p>
                    <p>40</p>
                    <p>38</p>
                    <input type="text" class="hidden" name="size" id="size">
                </div>
            </div>

            <div class="dropdown">
                <button type="button" class="button dropdown-button">
                    <span>Couleur</span>
                    <i class='bx bxs-down-arrow'></i>
                </button>
                <div class="dropdown-options" data-refers-to="color">
                    <p>Bleu</p>
                    <p>Noir</p>
                    <p>Orange</p>
                    <p>Rouge</p>
                    <p>Vert</p>
                    <p>Jaune</p>
                    <p>Gris</p>
                    <p>Blanc</p>
                    <p>Marron</p>
                    <input type="text" class="hidden" name="color" id="color">
                </div>
            </div>

            <div class="dropdown">
                <button type="button" class="button dropdown-button">
                    <span>Etat</span>
                    <i class='bx bxs-down-arrow'></i>
                </button>
                <div class="dropdown-options" data-refers-to="quality">
                    <p>Excellent</p>
                    <p>Bon</p>
                    <p>Mauvais</p>
                    <input type="text" class="hidden" name="quality" id="quality">
                </div>
            </div>
        </div>

        <section class="folder-generation">
            <h2>Dossier généré</h2>
            <input type="text" class="folder-name" id="generated-folder-name" disabled>
        </section>

        <!-- <div class="pictures">
            <button type="submit" class="button">Ajouter des photos</button>
            <div class="images-container"></div>
        </div> -->
        <div class="buttons-container">
            <button type="submit" class="button" hx-post="/items/upload" hx-swap="innerHTML" hx-target="#body">Confirmer</button>
            <button type="submit" class="button" hx-get="/items/all" hx-swap="innerHTML" hx-target="#body">Voir tous les vêtements</button>
        </div>
    </form>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}